PORT=3007
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_CONNECTION_LIMIT=10
DB_AUTH_NAME=auth_db_vet
DB_PET_NAME=pet_db_vet
DB_CATALOG_NAME=catalog_db_vet
DB_INVENTORY_NAME=inventory_db_vet
DB_APPOINTMENT_NAME=appointment_db_vet
DB_MEDICAL_RECORD_NAME=medical_record_db_vet
